
div{
    height: 300px;
    width: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("Friend-Good-Morning-Images-photo-.jpg");
    background-color: cover;
    color: white;
}
